<nav class="navbar is-dark is-fixed-top pr-6 pl-6" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <p class="navbar-item">PlayOnBSD Alter</p>
    </div>
    <div class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/">
          <span class="icon is-medium">
            <i class="fas fa-gamepad"></i>
          </span>
          <span>Game List</span>
        </a>
        <a class="navbar-item" href="/random">
          <span class="icon is-medium">
            <i class="fas fa-dice"></i>
          </span>
          <span>Random Game</span>
        </a>
        <a class="navbar-item" href="/news">
          <span class="icon is-medium">
            <i class="fas fa-newspaper"></i>
          </span>
          <span>News</span>
        </a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            <span class="icon is-medium">
              <i class="fas fa-chart-bar"></i>
            </span>
            <span>Game Stats</span>
          </a>
          <div class="navbar-dropdown">
            <a href="/stats_table" class="navbar-item">
              Tables
            </a>
            <a href="/stats_chart" class="navbar-item">
              Charts
            </a>
          </div>
        </div>
      </div>
      <div class="navbar-end">
        <form class="navbar-item" action="/" method="post">
          <div class="field">
            <p class="control has-icons-left">
              <input class="input" name="pattern" type="text" placeholder="Search" />
              <span class="icon is-left">
                <i class="fas fa-search"></i>
              </span>
            </p>
          </div>
        </form>
        <a class="navbar-item" href="/rss">
          <span class="icon is-medium">
            <i class="fas fa-rss"></i>
          </span>
          <span>RSS</span>
        </a>
        <a class="navbar-item" href="/about">
          <span class="icon is-medium">
            <i class="fas fa-info"></i>
          </span>
          <span>About</span>
        </a>
      </div>
    </div>
  </div>
</nav>
