{% extends "base.html" %}
{% block content %}
<div class="content">
  <h1>
  <span class="icon">
  <i class="fas fa-paperclip"></i>
  </span>
  &nbsp;Some numbers
  </h1>
  <div class="fixed-grid has-4-cols">
    <div class="grid">
      <div class="cell">
        <table class="table is-bordered is-striped is-fullwidth">
            <thead>
              <tr>
                <th>Game Status</th>
                <th>Count</th>
              </tr>
            </thead>
            <tbody>
        	{% for item in game_stats.status_stats %}
              <tr>
                <td>{{ item.0 }}</td>
                {% if item.2.is_empty() %}
                <td><a href="/">{{ item.1 }}</a></td>
                {% else %}
                <td><a href="/?status={{ item.2 }}">{{ item.1 }}</a></td>
                {% endif %}
              </tr>
        	{% endfor %}
        	</tbody>
        </table>
      </div>
      <div class="cell">
        <table class="table is-bordered is-striped is-fullwidth">
            <thead>
              <tr>
                <th>Year</th>
                <th>Count</th>
              </tr>
            </thead>
            <tbody>
        	{% for item in game_stats.year_stats %}
              <tr>
                <td>{{ item.0 }}</td>
                <td><a href="/?year={{ item.0 }}">{{ item.1 }}</a></td>
              </tr>
        	{% endfor %}
        	</tbody>
        </table>
      </div>

      <div class="cell">
        <table class="table is-bordered is-striped is-fullwidth">
            <thead>
              <tr>
                <th>Tag</th>
                <th>Count</th>
              </tr>
            </thead>
            <tbody>
        	{% for item in game_stats.tag_stats %}
              <tr>
                <td>{{ item.0 }}</td>
                <td><a href="/?tag={{ item.0 }}">{{ item.1 }}</a></td>
              </tr>
        	{% endfor %}
        	</tbody>
        </table>
      </div>

      <div class="cell">
        <table class="table is-bordered is-striped is-fullwidth">
            <thead>
              <tr>
                <th>Dev</th>
                <th>Count</th>
              </tr>
            </thead>
            <tbody>
        	{% for item in game_stats.dev_stats %}
              <tr>
                <td>{{ item.0 }}</td>
                <td><a href="/?dev={{ item.0 }}">{{ item.1 }}</a></td>
              </tr>
        	{% endfor %}
        	</tbody>
        </table>
      </div>

      <div class="cell">
        <table class="table is-bordered is-striped is-fullwidth">
            <thead>
              <tr>
                <th>Pub</th>
                <th>Count</th>
              </tr>
            </thead>
            <tbody>
        	{% for item in game_stats.publi_stats %}
              <tr>
                <td>{{ item.0 }}</td>
                <td><a href="/?publi={{ item.0 }}">{{ item.1 }}</a></td>
              </tr>
        	{% endfor %}
        	</tbody>
        </table>
      </div>

      <div class="cell">
        <table class="table is-bordered is-striped is-fullwidth">
            <thead>
              <tr>
                <th>Runtime</th>
                <th>Count</th>
              </tr>
            </thead>
            <tbody>
        	{% for item in game_stats.runtime_stats %}
              <tr>
                <td>{{ item.0 }}</td>
                <td><a href="/?runtime={{ item.0 }}">{{ item.1 }}</a></td>
              </tr>
        	{% endfor %}
        	</tbody>
        </table>
      </div>

      <div class="cell">
        <table class="table is-bordered is-striped is-fullwidth">
            <thead>
              <tr>
                <th>Engine</th>
                <th>Count</th>
              </tr>
            </thead>
            <tbody>
        	{% for item in game_stats.engine_stats %}
              <tr>
                <td>{{ item.0 }}</td>
                <td><a href="/?engine={{ item.0 }}">{{ item.1 }}</a></td>
              </tr>
        	{% endfor %}
        	</tbody>
        </table>
      </div>

      <div class="cell">
        <table class="table is-bordered is-striped is-fullwidth">
            <thead>
              <tr>
                <th>Genre</th>
                <th>Count</th>
              </tr>
            </thead>
            <tbody>
        	{% for item in game_stats.genre_stats %}
              <tr>
                <td>{{ item.0 }}</td>
                <td><a href="/?genre={{ item.0 }}">{{ item.1 }}</a></td>
              </tr>
        	{% endfor %}
        	</tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
